<!DOCTYPE html>
<html lang="eng">
<head>
<title>Your Cinema</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.card {
  padding: 10px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 8px 0px rgb(170 167 167);
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  color: black
}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <em class="fa fa-remove"></em>
    </a>
    <img src="/static/logos.png" alt="logo" style="width:45%;" class="w3-round"><br><br>
    <h4><Strong>Your Cinema</Strong></h4>
    <p class="w3-text-grey">Reserva tus entradas al Cine</p>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-th-large fa-fw w3-margin-right"></em>Cartelera</a> 
    <a href="/reserve" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-user fa-fw w3-margin-right"></em>Reservacion</a>
    <a href="/menu" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-cutlery fa-fw w3-margin-right"></em>Dulceria</a>
    <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><em class="fa fa-id-card-o fa-fw w3-margin-right"></em>Administración</a>   
    <a href="/checkup" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-search fa-fw w3-margin-right"></em>Checkup</a> 
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="/"><img src="/static/logos.png" alt="logo" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><em class="fa fa-bars"></em></span>
    <div class="w3-container">
    <h1 style="color: teal;"><strong>Administración</strong></h1>
    <br>
    </div>
  </header>

  <body>
    <div class="card">
        <br>
        <form method="POST">
        <div class="form-group">
            <img src="/static/movieticketss.jpeg" alt="movie">
            <h5>Ingrese Numero de Orden:</h5>
            <input type="number" class="form-control" id="inputnumber" name="getnumber" aria-describedby="nameHelp" placeholder="Orden...">
        </div>
        <center><p><button class="w3-button w3-black w3-border w3-hover-teal" id="search" name="horaelegida">Search!</button></p></center><br>
        <p>{{feedback}}</p>
        </form>
    </div>


        <div class="card">
            <div class="w3-container w3-white">
            <h3><em class="fa fa-asterisk fa-fw w3-margin-right" style="color:teal"></em>{{buscado}}</h3>
            <h3><em class="fa fa-user fa-fw w3-margin-right" style="color:teal"></em>{{en_nombre}}</h3>
            <h3><em class="fa fa-envelope-o fa-fw w3-margin-right" style="color:teal"></em>{{en_correo}}</h3>
            <h3><em class="fa fa-film fa-fw w3-margin-right" style="color:teal"></em>{{en_pelicula}}</h3>
            <h3><em class="fa fa-clock-o fa-fw w3-margin-right" style="color:teal"></em>{{en_hora}}</h3>
            <h3><em class="fa fa-ticket fa-fw w3-margin-right" style="color:teal"></em>{{en_entradas}}</h3>
            <h3><em class="fa fa-braille fa-fw w3-margin-right" style="color:teal"></em>{% for s in en_asientos %}
                <ul>- {{s}}</ul>
                {% endfor %}</h3>
            <h3><em class="fa fa-usd fa-fw w3-margin-right" style="color:teal"></em>{{en_total}}</h3>
            <h3><em class="fa fa-credit-card-alt fa-fw w3-margin-right" style="color:teal"></em><em class="fa fa-money fa-fw w3-margin-right" style="color:teal"></em>{{en_pago}}</h3>
            <br>
            <center><p><a type="button" href="/delete/{{buscado}}" class="w3-button w3-black w3-border w3-hover-teal" id="delete" name="horaelegida">Cancelar Orden!</a></p></center><br>
            </div>
      </div>
  </body>
  
  

  <!-- Footer -->
  <div class="w3-black w3-center w3-padding-24">Template Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a>
  </div>

<!-- End page content -->
</div>

<script>
  var x = '{{feedback}}';
  console.log(x)
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
function feedback_given(){
  alert(x);
}
</script>

</body>
</html>