<!DOCTYPE html>
<html lang="eng">
<head>
<title>Your Cinema</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-button {width:150px}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <em class="fa fa-remove"></em>
    </a>
    <img src="/static/logos.png" alt="logo" style="width:45%;" class="w3-round"><br><br>
    <h4><Strong>Your Cinema</Strong></h4>
    <p class="w3-text-grey">Reserva tus entradas al Cine</p>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><em class="fa fa-th-large fa-fw w3-margin-right"></em>Cartelera</a> 
    <a href="/reserve" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-user fa-fw w3-margin-right"></em>Reservacion</a>
    <a href="/menu" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-cutlery fa-fw w3-margin-right"></em>Dulceria</a> 
    <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><em class="fa fa-id-card-o fa-fw w3-margin-right"></em>Administración</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="/"><img src="/static/logos.png" alt="logo" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><em class="fa fa-bars"></em></span>
    <div class="w3-container">
    <h1 style="color: teal;"><strong>Datos de Reservación</strong></h1>
    <br>
    </div>
  </header>
  
  <!-- Second Photo Grid-->
  <br>
  <div class="w3-row-padding">
  <div class="w3-rest w3-container w3-margin-bottom">
    <img src="/static/ticker.png" alt="screen" style="width:100%" class="w3-hover-opacity">
  </div>
</div>

  <div class="w3-row-padding">
    <div class="w3-threequarter w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <br>
        <form method="POST">
          <div class="form-group">
            <label for="inputname">Nombre:</label>
            <input type="text" class="form-control" id="inputname" name="getnombre" aria-describedby="nameHelp" placeholder="Nombre...">
            <small id="namelHelp" class="form-text text-muted">Tu reservación estaría bajo este nombre.</small>
          </div>
          <div class="form-group">
            <label for="inputemail">Email:</label>
            <input type="email" class="form-control" id="inputemail" name="getemail" placeholder="Email...">
          </div>
          <p>Metodo de Pago:</p>
          <div class="form-group">
            <input class="form-check-input" type="radio" name="getpago" id="inlineRadio1" value="tarjeta">
            <label class="form-check-label" for="inlineRadio1">tarjeta</label>&emsp;
            <input class="form-check-input" type="radio" name="getpago" id="inlineRadio2" value="efectivo">
            <label class="form-check-label" for="inlineRadio2">efectivo</label>
          </div>
          <center><p><button class="w3-button w3-black w3-border w3-hover-teal" id="reservar" name="horaelegida" onclick="gottenReservation()">Reserve!</button></p></center><br>
        </form>
      </div>
    </div>

    <div class="w3-quarter w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <h3 style="color: teal;"><strong>Película:</strong> </h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{movie}}
        <h3 style="color: teal;"><strong>Función:</strong> </h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{time}} horas
        <h3 style="color: teal;"><strong>Entradas:</strong> </h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{entradas}}
        <h3 style="color: teal;"><strong>Asientos:</strong> </h3>
        {% for s in chequeados %}
        <ul>&emsp;&emsp;&emsp;&emsp;- {{s}}</ul>
        {% endfor %}
        <p>precio por entrada: Q.65.00</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="w3-black w3-center w3-padding-24">Template Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

function gottenReservation(){
  // if(confirm("Tus hados han sido guardados. Por favor confirmar reservacion.")) document.location = '/reserve';
  alert("Tus hados han sido guardados. Por favor confirmar orden en el apartado 'Reservacion' ");
}
</script>

</body>
</html>